@font-face {
  font-family: "Fraunces";
  src: url("assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format(truetype) tech(variations);
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format(truetype) tech(variations);
  font-weight: 400 600 700;
  font-display: fallback;
}

:root {
  --color-dark-purple: #24053e;
  --color-eucaplyptus: #44ffa1;
  --color-davys-grey: #584d62;
  --color-ghost-white: #fcf8ff;
  --color-white: #fff;

  --font-family-primary: "Fraunces";
  --font-family-secondary: "Manrope";
}

body {
  padding-bottom: 110px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-primary);
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 1.125rem;
  font-family: var(--font-family-secondary);
}

.btn--primary {
  background-color: var(--color-eucaplyptus);
  color: var(--color-dark-purple);
  font-weight: 700;
  padding: 13px 25.5px;
  border: 2px solid var(--color-eucaplyptus);
}

.btn--primary:hover {
  background-color: inherit;
  color: var(--color-eucaplyptus);
}

.btn--secondary {
  font-weight: 700;
  color: var(--color-white);
  position: relative;
}

.btn--secondary:hover {
  color: var(--color-eucaplyptus);
}

.btn--secondary::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-eucaplyptus);
}

/* --------------------HERO SECTION-------------------- */

.hero {
  height: 630px;
  padding: 57.5px 165px 0;
  /* margin-bottom: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--color-dark-purple);
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -75px;
  height: 150px;
  border-radius: 50% / 50%;
  background-color: var(--color-dark-purple);
}

.hero__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

.hero h1 {
  font-feature-settings: "clig" off, "liga" off;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1;
  text-align: center;
  color: var(--color-white);
  max-width: 13ch;
  margin: 0 auto 37px;
}

.hero h1 span {
  display: inline-block;
  position: relative;
}

.hero h1 span::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-eucaplyptus);
}

.hero .btn--primary {
  margin: 0 auto;
}

.hero__image {
  width: 715px;
  position: absolute;
  top: 450px;
  z-index: 1;
}

/* --------------------FEATURES SECTION-------------------- */

.features {
  width: 100%;
  background-color: var(--color-ghost-white);
  /* position: relative; */
  margin-bottom: 281px;
}

/* .features::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -75px;
  height: 150px;
  border-radius: 50% / 50%;
  background-color: var(--color-ghost-white);
} */

.feature__list {
  display: flex;
  max-width: 1114px;
  margin: 0 auto;
  column-gap: 26px;
}

.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__number {
  width: 56px;
  height: 56px;
  border-radius: 30.5px;
  border: 1px solid var(--color-davys-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.feature__number span {
  color: var(--color-dark-purple);
  font-family: var(--font-family-primary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.66667;
}

.feature__item h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 28px;
}

.feature__item p {
  color: var(--color-dark-purple);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--font-family-secondary);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7778;
}

/* --------------------SIGNUP SECTION-------------------- */

.signup {
  min-height: 586px;
  max-width: 1114px;
  margin: 0 auto 121.78px;
  position: relative;
}

.signup__image {
  width: 477px;
  height: 477px;
  position: absolute;
  top: 0;
  left: 0;
}

.signup__card {
  background-color: var(--color-dark-purple);
  width: 730px;
  padding: 64px;
  position: absolute;
  top: 173px;
  right: 0;
}

.signup__card h2 {
  color: var(--color-white);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.14286;
  margin-bottom: 32px;
}

.signup__card p {
  color: var(--color-white);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.77778;
  margin-bottom: 32px;
}

.signup__spring {
  position: absolute;
  bottom: -61.74px;
  right: 72.69px;
}

/* --------------------CONTACT SECTION-------------------- */

.contact {
  max-width: 116px;
  height: 102.224px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact__logo {
  margin: 0 auto;
}

.contact__social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
